<!DOCTYPE html>
<html>
<title>MI_Austin Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
<style>
body, html {
  height: 100%;
  font-family: "Inconsolata", sans-serif;
}

.bgimg {
  background-position: center;
  background-size: cover;
  background-image: url("../static/images/austin.jpg");
  min-height: 75%;
}

.menu {
  display: none;
}
</style>
<body>

<!-- Links (sit on top) -->
<div class="w3-top">
  <div class="w3-row w3-padding w3-black">
    <div class="w3-col s3">
      <a href="/" class="w3-button w3-block w3-black">HOME</a>
    </div>
    <div class="w3-col s3">
      <a href="predict" class="w3-button w3-block w3-black">PREDICT</a>
    </div>
  </div>
</div>

<!-- Header with image -->
<header class="bgimg w3-display-container w3-grayscale-min" id="home">
  <div class="w3-display-bottomleft w3-center w3-padding-large w3-hide-small">
    <span class="w3-tag">Explore Austin</span>
  </div>
  <div class="w3-display-middle w3-center">
    <span class="w3-tag" style="font-size:60px">YOUR<br>AUSTIN</span>
  </div>
  <div class="w3-display-bottomright w3-center w3-padding-large">
    <span class="w3-text-white">600 Congress Street</span>
  </div>
</header>

<!-- Add a background color and large text to the whole page -->
<div class="w3-sand w3-grayscale w3-large">

<!-- About Container -->
<div class="w3-container" id="about">
  <div class="w3-content" style="max-width:700px">
    <h5 class="w3-center w3-padding-64"><span class="w3-tag w3-wide">FIND YOUR LOCATION</span></h5>
    <p>This application uses machine learning to predict possible user ratings of new developments around Austin.</p>
    <p>* Rating prediction based on the lat + long + types of possible new developments in Austin</p>
    <p>* User will enter select a location on the map and click certain features and the machine will predict the rating</p>
    <p>* Please click the "PREDICT" button at the top of the page to continue</p>
  
<div class="w3-panel w3-leftbar w3-light-grey">
      <p><i>"This is the best product to find accurate locations to start any business! I am extremly satisfied with their customer service".</i></p>
      <p>Chef, Taco-Truck Owner: Bob Brown</p>
    </div>
    <img src="../static/images/tacos.jpg" style="width:100%;max-width:1000px" class="w3-margin-top">
    <p><strong>Opening hours:</strong> everyday from 6am to 5pm.</p>
    <p><strong>Address:</strong> 600 Congress street, Austin</p>
  </div>
</div>


<!-- Contact/Area Container -->
<div class="w3-container" id="visual" style="padding-bottom:32px;">
  <div class="w3-content" style="max-width:700px">
    <img src="../static/images/austin1.jpg" class="w3-image" style="width:100%">
  </div>

  <div>
    <p>Below is a heat map of the most popular locations visited by users</p>
    <a href="https://plotly.com/~akikp/3/?share_key=ZRFYETb2k5d0NXklK4RdPU" target="_blank" title="Plot 3" style="display: block; text-align: center;"><img src="https://plotly.com/~akikp/3.png?share_key=ZRFYETb2k5d0NXklK4RdPU" alt="Plot 3" style="max-width: 100%;width: 600px;"  width="600" onerror="this.onerror=null;this.src='https://plotly.com/404.png';" /></a>
    <script data-plotly="akikp:3" sharekey-plotly="ZRFYETb2k5d0NXklK4RdPU" src="https://plotly.com/embed.js" async></script>
  </div>

<!-- End page content -->
</div>

<!-- Footer -->
<footer class="w3-center w3-light-grey w3-padding-48 w3-large">
  <p>Copyright &copy; Akik | Caroline | Ed | Natalia | Zach  2021 <atitle="W3.CSS" target="_blank" class="w3-hover-text-green"></a></p>
</footer>

<script>
// Tabbed Menu
function openMenu(evt, menuName) {
  var i, x, tablinks;
  x = document.getElementsByClassName("data");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < x.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" w3-dark-grey", "");
  }
  document.getElementById(menuName).style.display = "block";
  evt.currentTarget.firstElementChild.className += " w3-dark-grey";
}
document.getElementById("myLink").click();
</script>

</body>
</html>
