<!DOCTYPE html>
<html>
<title>MI_Austin Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
<link rel="stylesheet" type="text/css" href="../static/css/style.css" />
<style>
 body, html {
    height: 100%;
    font-family: "Inconsolata", sans-serif;
  }
  
  .bgimg {
    background-position: center;
    background-size: cover;
    background-image: url("../static/images/austin.jpg");
    min-height: 75%;
  }
  
  .menu {
    display: none;
  }
  </style>
  <body>

<!-- Links (sit on top) -->
<div class="w3-top">
  <div class="w3-row w3-padding w3-black">
    <div class="w3-col s3">
      <a href="/" class="w3-button w3-block w3-black">HOME</a>
    </div>
    <div class="w3-col s3">
      <a href="predict" class="w3-button w3-block w3-black">PREDICT</a>
    </div>
  </div>
</div>

<!-- Header with image -->
<header class="bgimg w3-display-container w3-grayscale-min" id="home">
  <div class="w3-display-bottomleft w3-center w3-padding-large w3-hide-small">
    <span class="w3-tag">Explore Austin</span>
  </div>
  <div class="w3-display-middle w3-center">
    <span class="w3-tag" style="font-size:60px">YOUR<br>AUSTIN</span>
  </div>
  <div class="w3-display-bottomright w3-center w3-padding-large">
    <span class="w3-text-white">600 Congress Street</span>
  </div>
</header>

<!-- Add a background color and large text to the whole page -->
<div class="w3-sand w3-grayscale w3-large">

<!-- About Container -->
<div class="w3-container" id="about">
  <div class="w3-content" style="max-width:700px">
    <h5 class="w3-center w3-padding-64"><span class="w3-tag w3-wide">FIND YOUR LOCATION</span></h5>
    <p>On the map below, find and click on your ideal location.</p>
    <p> Then, click on each feature that would best describe your new development.</p>
  </div>
</div>


<!-- Contact/Area Container -->
<div class="w3-container" id="visual" style="padding-bottom:32px;">
  <div class="w3-content" style="max-width:700px">
    <h5 class="w3-center w3-padding-48"><span class="w3-tag w3-wide">FIND THE BEST SPOT</span></h5>
    <div class="row">
      <div class="column" id="map">
    </div>
    <div class="container" class="row">
    <br>
    <div class="row">
      <div class="column" style="background-color:#ccc;">
        
        
      <form method="POST">
          <button class="w3-button w3-black" type="submit">SUBMIT</button>
          <input type="text" id="userlat" placeholder="Latitude"required name="latitude"></p>
          <input type="text" id="userlng" placeholder="Longitude" required name="longitude"></p>
        
          <input type="checkbox" id="shopping_mall" name="shopping_mall" value="shopping_mall">
          <label for="shopping_mall"> Shopping Mall</label><br>
          <input type="checkbox" id="clothing_store" name="clothing_store" value="clothing_store">
          <label for="clothing_store"> Clothing Store</label><br>
          <input type="checkbox" id="natural_feature" name="natural_feature" value="natural_feature">
          <label for="natural_feature"> Natural Feature</label><br>
          <input type="checkbox" id="travel_agency" name="travel_agency" value="travel_agency">
          <label for="travel_agency"> Travel Agency</label><br>
          <input type="checkbox" id="food" name="food" value="food">
          <label for="food"> Food</label><br>
          <input type="checkbox" id="point_of_interest" name="point_of_interest" value="point_of_interest">
          <label for="point_of_interest"> Point of Interest</label><br>
          <input type="checkbox" id="store" name="store" value="store">
          <label for="store"> Store</label><br>
          <input type="checkbox" id="meal_delivery" name="meal_delivery" value="meal_delivery">
          <label for="meal_delivery"> Meal Delivery</label><br>
          
        
      </div>
      <div class="column" style="background-color:#ccc;">
          <input type="checkbox" id="park" name="park" value="park">
          <label for="park"> Park</label><br>
          <input type="checkbox" id="liquor_store" name="liquor_store" value="liquor_store">
          <label for="liquor_store"> Liquor Store</label><br>
          <input type="checkbox" id="gas_station" name="gas_station" value="gas_station">
          <label for="gas_station"> Gas Station</label><br>
          <input type="checkbox" id="restaurant" name="restaurant" value="restaurant">
          <label for="restaurant"> Retaurant</label><br>
          <input type="checkbox" id="cafe" name="cafe" value="cafe">
          <label for="cafe"> Cafe</label><br>
          <input type="checkbox" id="meal_takeaway" name="meal_takeaway" value="meal_takeaway">
          <label for="meal_takeaway"> Meal Takeaway</label><br>
          <input type="checkbox" id="movie_theater" name="movie_theater" value="movie_theater">
          <label for="movie_theater"> Movie Theater</label><br>
          <input type="checkbox" id="grocery_or_supermarket" name="grocery_or_supermarket" value="grocery_or_supermarket">
          <label for="grocery_or_supermarket"> Grocery/Supermarket</label><br>
          <input type="checkbox" id="nightclub" name="nightclub" value="nightclub">
          <label for="nightclub"> Night Club</label><br>
          <input type="checkbox" id="hair_care" name="hair_care" value="hair_care">
          <label for="hair_care"> Hair Care</label><br>
          <input type="checkbox" id="finance" name="finance" value="finance">
          <label for="finance"> Finance</label><br>
          <input type="checkbox" id="bar" name="bar" value="bar">
          <label for="bar"> Bar</label><br>
          <input type="checkbox" id="art_gallary" name="art_gallary" value="art_gallary">
          <label for="art_gallary"> Art Gallary</label><br>
          <input type="checkbox" id="tourist_attraction" name="tourist_attraction" value="tourist_attraction">
          <label for="tourist_attraction"> Tourist Attraction</label><br>
          
       
      </div>
      <div class="column" style="background-color:#ccc;">
        
          <input type="checkbox" id="cemetery" name="cemetery" value="cemetery">
          <label for="cemetery"> Cemetery</label><br>
          <input type="checkbox" id="supermarket" name="supermarket" value="supermarket">
          <label for="supermarket"> Supermarket</label><br>
          <input type="checkbox" id="real_estate_agency" name="real_estate_agency" value="real_estate_agency">
          <label for="real_estate_agency"> Real Estate Agency</label><br>
          <input type="checkbox" id="bakery" name="bakery" value="bakery">
          <label for="bakery"> Bakery</label><br>
          <input type="checkbox" id="jewelry_store" name="jewelry_store" value="jewelry_store">
          <label for="jewelry_store"> Jewelry Store</label><br>
          <input type="checkbox" id="place_of_worship" name="place_of_worship" value="place_of_worship">
          <label for="place_of_worship"> Place of Worship</label><br>
          <input type="checkbox" id="church" name="church" value="church">
          <label for="church"> Church</label><br>
          <input type="checkbox" id="local_government_office" name="local_government_office" value="local_government_office">
          <label for="local_government_office"> Government Office</label><br>
          <input type="checkbox" id="home_goods_store" name="home_goods_store" value="home_goods_store">
          <label for="home_goods_store"> Home Goods Store</label><br>
          <input type="checkbox" id="museum" name="museum" value="museum">
          <label for="museum"> Museum</label><br>
          <input type="checkbox" id="car_wash" name="car_wash" value="car_wash">
          <label for="car_wash"> Car Wash</label><br>
          <input type="checkbox" id="car_repair" name="car_repair" value="car_repair">
          <label for="car_repair"> Car Repair</label><br>
          <input type="checkbox" id="aquarium" name="aquarium" value="aquarium">
          <label for="aquarium"> Aquarium</label><br>
          <input type="checkbox" id="establishment" name="establishment" value="establishment">
          <label for="establishment"> Establishment</label><br><br><br>
      </div>
    </form>
    <div>
       <p>
         Predicted user rating based on the criteria selected : {{ prediction }}
       </p>
    </div> 
    </div>
    
  </div>
</div>

<!-- End page content -->
</div>

<!-- Footer -->
<footer class="w3-center w3-light-grey w3-padding-48 w3-large">
  <p>Copyright &copy; Akik | Caroline | Ed | Natalia | Zach  2021 <atitle="W3.CSS" target="_blank" class="w3-hover-text-green"></a></p>
</footer>

<script>
// Tabbed Menu
function openMenu(evt, menuName) {
  var i, x, tablinks;
  x = document.getElementsByClassName("data");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < x.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" w3-dark-grey", "");
  }
  document.getElementById(menuName).style.display = "block";
  evt.currentTarget.firstElementChild.className += " w3-dark-grey";
}
document.getElementById("myLink").click();
</script>
<script src="../static/js/app.js"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDmjIX3uuuU7JZVTmJEAyv1qaC38D7RtI&callback=initMap&libraries=&v=weekly"
      defer
    ></script>
    <script src="../static/js/index.js"></script>
    <script type="text/javascript">
      
      </script>

</body>
</html>

